<!DOCTYPE html>
{% load static %}
<html lang="en">
  {% include 'core/header_cssfiles.html' %}

  <body>
    <div class="container-fluid position-relative d-flex p-0">
      {% include 'core/sidebar.html' %}
      <!-- Content Start -->
      <div class="content">
        {% include 'core/topnavbar.html' %}

        {% block home_content %}

        {% endblock %}

        {% include 'core/footer.html' %}
      </div>
      <!-- Content End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    {% include 'core/footer_jsfiles.html' %}
  </body>
</html>
